Login.css

.login-form {
 
    background-color:#F6F6E9;
    margin-top: 100px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
  }
  
  h2 {
    margin-top: 100px;
    margin-bottom: 20px;
    color: #2E8B57;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
  }
  
  input:focus {
    border-color: #0070ba;
    outline: none;
  }
  
  button {
    background-color: #2E8B57;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #005a9c;
  }
  
  .success-message {
    color: green;
    margin-bottom: 15px;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  